/* src/styles/createEmployeeForm.css */
@import "./app.css";

.container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--overlay-color);
  max-width: 80%;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap; 
}

.form-row label {
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.form-row input,
.form-row .date-picker,
.form-row .department {
  flex: 1;
  margin-right: 0; 
}

h2 {
  color: var(--heading-color);
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .form-row label {
    width: 100%;
  }
}
