/* src/index.css */

:root {
    --overlay-color: #DBE7B6;
    --primary-color: #6e870b; /* Button and overlay color */
    --secondary-color: #93ad19; /* Button hover color */
    --background-color: #ebf4c4; /* Modal background color */
  }